h1 Welcome to the bitcoin page
p This is where we are going to create an invoice for you to make a payment using bitcoins
label(for='price') This is where the user can type in the price 
	input(type='text' id='price')
p The page must display a <strong>new wallet </strong> and <strong>QR code</strong> on each transaction
p Let's go!
p Include a BTC/USD exchange rate
p If a user pays a specific amount, it will need to update the total outstanding price of the invoice
p Invoice needs to have three states
	li Expired
	li Partially paid (must display outstanding balance)
	li Invoice paid