div(class='row' ng-init='exchangeRate()')
	div(class='col-md-4 center-col' ng-hide='expired')
		h1(class='pageTitle') Bitcoin Invoice
		div(class='text-center')
			qrcode(class='qr' data='bitcoin:{{token}}?amount={{btc}}' size='200')
			i(class="fa fa-circle-o-notch fa-spin" ng-hide='!load')
			div(class='before' ng-hide='partial || full || load')
				label Amount BTC:    
					input(type='text' ng-model='btc' style='margin-left:30px')
				br
				label Amount USD:           
					input(type='text' value='${{btc * exchangeRate}}' style='margin-left:31px')
				br
				br
				span Invoice Amount: {{invoiceAmount}}BTC
				br
				span Current Rate: 1BTC/${{exchangeRate}}USD
			div(class='partialPay' ng-show='partial')
				h3 Partially paid. You still owe {{10-btc}} BTC.
			div(class='fullPay' ng-show='full')
				h3 You have paid in full. Thank you. 
		div(class='text-center' ng-hide='partial || full || load')
			button(type='button' class='btn center-btn' ng-click='getAddress();showQR()') CREATE PAYMENT INVOICE
	div(class='col-md-4 center-col' ng-show='expired')
		h1(class='pageTitle') I'm sorry but this session has expired, please refresh the page to make a payment.
