h1 Welcome to the bitcoin page
p This is where we are going to create an invoice for you to make a payment using bitcoins
label This is where the user can type in the price 
	input(type='text' ng-model='invoicePrice')
p You currently owe ${{invoicePrice}}
label Please include your name
	input(type='text' ng-model='name')
p Your name is {{personName}}
label Please include a short message
	input(type='text' ng-model='message')
button(ng-click='pay()')
p Your message is as follows {{message}}
p The page must display a <strong>new wallet </strong> and <strong>QR code</strong> on each transaction
p Let's go!
p Include a BTC/USD exchange rate
p If a user pays a specific amount, it will need to update the total outstanding price of the invoice
p Invoice needs to have three states
	li Expired
	li Partially paid (must display outstanding balance)
	li Invoice paid