//- h1(class='pageTitle') Bitcoin Invoice
div(class='row')
	div(class='col-md-4 center-col')
		h1(class='pageTitle') Bitcoin Invoice
		label Amount:    
			input(type='text' ng-model='amount' style='margin-left:30px')
		br
		label(style='')  FxRate:           
			input(type='text' ng-model='exchangeRate' style='margin-left:39px')
		br
		label(style='')  Description:   
			input(type='text' ng-model='description' style='margin-left:3px')
		br
		div(class='text-center')
			button(type='button' class='btn center-btn' ng-click='getAddress();displayNone()') CREATE PAYMENT INVOICE
//- qrcode(data='bitcoin:{{token}}?amount={{amount}}' size='200')