doctype html
html(ng-app='myApp')
  head
    title SNAPCARD INVOICE
    link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet")
    link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js')
    script(src='//code.angularjs.org/1.2.21/angular-route.js')
    script(src='../bower_components/qrcode-generator/js/qrcode.js')
    script(src='../bower_components/angular-qrcode/qrcode.js')
    script(src='javascripts/main.js')
    script(src='javascripts/controllers.js')
  body
    div(ng-view)
        block content
